body{
    padding:0;
    margin:0;
}
.frame .div {
    background: linear-gradient(225deg, rgba(15, 76, 97, 0.55)0.1%, #5B5B5B 55.31%, rgba(0, 0, 0, 0.55) 99.69%);
    background-blend-mode: exclusion;
    width: 1600px;
    height: 789px;
    position: relative;
}

.frame .menu-bar {
    position: absolute;
    width: 120px;
    height: 789px;
    top: 0;
    left: 0;
    z-index:2;
    background-color: #C0C0C0;
    overflow: hidden;
    transition: width 1s;
    opacity:0.9;
}
.frame .menu-bar1{
    width: 280px;
}
.menu-bar h2{
    font-family: 'Poppins', sans-serif;
}
.frame .menu-bar:hover{
   width:280px;
}

.frame .text{
   color:black;
}

.frame h2:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #183D3D;
  transition: 0.1s;
  bottom: 0;
}
.frame h2:hover:after {
  width: 100%;
}
.button {
    position: absolute;
    top: 85px;
    left: 120px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    color: black;
    text-align: left;
    display: flex;
    align-items: center;
}
.button h2{
   margin:0;
}
.button .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.frame .search {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 80px;
    left: 40px;
    object-fit: cover;
}

.search-container {
    display: flex;
    align-items: center;
    width: 280px;
    margin: 20px;
    position: relative;
}
.search-bar{
   visibility:hidden;
}
#search-input {
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #383838;
    outline: none;
    font-size: 16px;
    position: absolute;
    top: 60px;
    left: 10px;
    visibility:hidden;
    transition: 0.1s;
}
.autocomplete-results{
    position: absolute;
    width: 195px;
    top: 100px;
    left: 10px;
    background:white;
    border-radius:0px 0px 20px 20px;
    padding:10px;
    cursor: pointer;
    visibility:hidden;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #383838;
}


.frame .chatbot {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 261px;
    left: 40px;
    object-fit: cover;
}
.frame .chatbot_p{
    position: absolute;
    top: 245px;
    left: 120px;
}
.frame .document {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 394px;
    left: 40px;
    object-fit: cover;
}
.frame .document_p{
    position: absolute;
    top: 375px;
    left: 120px;
}
.frame .info {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 527px;
    left: 40px;
    object-fit: cover;
}
.frame .info_p{
    position: absolute;
    top: 510px;
    left: 120px;
}
.frame .user-interface {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 660px;
    left: 40px;
    object-fit: cover;
}
.frame .user-interface_p{
    position: absolute;
    top: 640px;
    left: 120px;
}

.frame .line1 {
    position: absolute;
    width: 34px;
    height: 3px;
    top: 50px;
    left: 46px;
    background-color:white;
}

.frame .line2 {
    position: absolute;
    width: 34px;
    height: 3px;
    top: 56px;
    left: 46px;
    background-color:white;
}

.frame .line3 {
    position: absolute;
    width: 17px;
    height: 3px;
    top: 62px;
    left: 63px;
    background-color:white;
}

.frame .overlap {
    width: 1408px;
    left: 178px;
    position: absolute;
    height: 789px;
    top: 0;
}

.frame .logo {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 23px;
    left: 0;
    object-fit: cover;
}

.frame .overlap-group {
    width: 1408px;
    left: 0;
    position: absolute;
    height: 789px;
    top: 0;
}

.frame .overlap-group-2 {
    width: 1210px;
    left: 198px;
    position: absolute;
    height: 789px;
    top: 0;
}

.frame .rectangle {
    position: absolute;
    width: 456px;
    height: 604px;
    top: 93px;
    left: 694px;
    border: 11px solid;
    border-color: #ffffff66;
    box-shadow: 0px 4px 4px #00000040;
}

.frame .COAL {
    position: absolute;
    width: 550px;
    height: 789px;
    top: 0;
    left: 660px;
    object-fit: cover;
}

.frame .line-3 {
    position: absolute;
    width: 3px;
    height: 292px;
    top: 103px;
    left: 42px;
    object-fit: cover;
    background-color:black;
}

.frame .line-4 {
    position: absolute;
    width: 651px;
    height: 3px;
    top: 394px;
    left: 43px;
    object-fit: cover;
    background-color:black;
}

.frame .DISCOVER-COAL {
    position: absolute;
    top: 208px;
    left: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 70px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .rectangle-2 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 350px;
    left: 660px;
    background-color: #ebc562;
    border: 2px solid;
    border-color: #fff6f6;
    transform:translateZ(30px);
    box-shadow: 0 2px 8px rgb(0 0 0 / 70%);
}

.frame .coal {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 360px;
    left: 670px;
    object-fit: cover;
}
.bottom-info div{
    font-family: 'Poppins', sans-serif;
}
.frame .text-wrapper {
    position: absolute;
    top: 506px;
    left: 404px;
    font-weight: 400;
    color: #b6acac;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .text-wrapper-2 {
    position: absolute;
    top: 506px;
    left: 0;
    font-weight: 400;
    color: #b6acac;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .element-billion {
    position: absolute;
    top: 542px;
    left: 409px;
    font-weight: 700;
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-3 {
    position: absolute;
    top: 542px;
    left: 0;
    font-weight: 700;
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
